<div class="well" >
 
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Applications</h3>
			<div class="box-tools">
				<div class="input-group">
					<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
					<div class="input-group-btn">
						<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
		</div><!-- /.box-header -->
		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>Company</th>
					<th>Portal</th>
					<th>Position</th>
					<th><core-icon icon="question-answer" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="communication:call" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="perm-identity" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="more-horiz" style="width: 18px; height: 18px;"></core-icon></th>
					<th>Next</th>

				</tr>
				<tr ng-repeat="application in applications" >
					<td> {{ application.company }} </td>
					<td> {{ application.portal }} </td>
					<td> {{ application.position }} </td>
					<td> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.written }}"></core-icon></td>
					<td> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.called }}"></core-icon></td>
					<td> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.interviewed }}"></core-icon></td>
					<td> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.followup }}"></core-icon></td>
					<td> {{ application.next }} </td>
					<td> <button class="btn btn-primary" ng-click="open_detail(application)">Update</button> 
						 <button class="btn btn-primary" ng-click="delete_application(application)">Delete</button> </td>
				</tr>

			</table>
		</div><!-- /.box-body -->
	</div><!-- /.box -->

 
    
	<a class="btn btn-block btn-primary" ng-click="create()">CREATE NEW</a>
	

    <paper-shadow z="2"></paper-shadow>
</div>

	<div class="well" ng-show="in_creation" >
	  <form action='/applications/' method='post' >
		<div> 
		  <loaded-template myvar="myvar" myhtml="myhtml" />
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	  </form>
	</div>
	