<div >
 
		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>Company</th>
					<th>Portal</th>
					<th>Position</th>
					<th><core-icon icon="question-answer" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="communication:call" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="perm-identity" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="more-horiz" style="width: 18px; height: 18px;"></core-icon></th>
					<th>Next</th>
					<th></th>

				</tr>
				<tr ng-repeat="application in applications" >
					<td ng-click="open_detail(application)"> {{ application.company }} </td>
					<td ng-click="open_detail(application)"> {{ application.portal }} </td>
					<td ng-click="open_detail(application)"> {{ application.position }} </td>
					<td ng-click="written(application)" > <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.written }}" ></core-icon></td>
					<td ng-click="called(application)"> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.called }}"></core-icon></td>
					<td ng-click="interviewed(application)"> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.interviewed }}"></core-icon></td>
					<td ng-click="followup(application)"> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.followup }}"></core-icon></td>
					<td ng-click="open_detail(application)"> {{ application.next }} </td>
					<td >  <core-icon icon="create" style="width: 18px; height: 18px;" ng-click="open_detail(application)"></core-icon >
							<core-icon  icon="delete" style="width: 18px; height: 18px;" ng-click="delete_application(application)"></core-icon > 
					</td>


				</tr>

			</table>
		</div><!-- /.box-body -->
    <paper-shadow z="1"></paper-shadow>
</div>

<div horizontal center-justified layout>
  	<paper-button ng-click="new()" label="flat button" raisedButton style="background: #4285f4;color: #fff;">CREATE NEW</paper-button>
</div>	