
<div style="padding: 15px 25px 25px 25px">

	<paper-input id="appl-company" label="Company" floatingLabel=true value="{{current_application.company}}" error="Company should have a name"></paper-input>

	<paper-input id="appl-portal" label="Portal" floatingLabel=true value="{{current_application.portal}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-position" label="Position" floatingLabel=true value="{{current_application.position}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-skills" label="Skills" floatingLabel=true value="{{current_application.skills}}" error="Portal should have a name"></paper-input>

	<br><br>
    <paper-checkbox id="appl-written" ></paper-checkbox>
	&nbsp;&nbsp;&nbsp;<core-icon icon="question-answer"></core-icon>&nbsp;&nbsp;Written<br><br>
   	<paper-checkbox id="appl-called" ></paper-checkbox>
	&nbsp;&nbsp;&nbsp;<core-icon icon="communication:call" ></core-icon>&nbsp;&nbsp;Called<br><br>
    <paper-checkbox id="appl-interviewed" ></paper-checkbox>
	&nbsp;&nbsp;&nbsp;<core-icon icon="perm-identity" ></core-icon>&nbsp;&nbsp;Interviewed <br><br>
    <paper-checkbox id="appl-followup" ></paper-checkbox>
	&nbsp;&nbsp;&nbsp;<core-icon icon="more-horiz" ></core-icon>&nbsp;&nbsp;Followup<br><br>
	

	<paper-input id="appl-next" multiline label="Next" floatingLabel=true value="{{current_application.next}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-notes" multiline label="Notes" floatingLabel=true value="{{current_application.notes}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-cover" multiline label="Cover Letter" floatingLabel=true value="{{current_application.cover}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-address1" multiline label="Address" floatingLabel=true value="{{current_application.address1}}" error="Portal should have a name"></paper-input>

	<paper-input id="appl-address2" multiline label="Address" floatingLabel=true value="{{current_application.address2}}" error="Portal should have a name"></paper-input>

    <paper-shadow z="1"></paper-shadow>
</div>

<h3> Contacts </h3>

<div style="padding: 15px 25px 25px 25px">
	<paper-input id="appl-c1name" multiline label="Name" floatingLabel=true value="{{current_application.c1name}}" error="Portal should have a name"></paper-input> 
	<paper-input id="appl-c1mail" multiline label="Email" type="email" floatingLabel=true value="{{current_application.c1mail}}" error="Portal should have a name"></paper-input>
	<paper-input id="appl-c1phone" multiline label="Phone" type="tel" floatingLabel=true value="{{current_application.c1phone}}" error="Portal should have a name"></paper-input>
	<paper-shadow z="1"></paper-shadow>
</div>
<br><br>
<div style="padding: 15px 25px 25px 25px">
	<paper-input id="appl-c2name" multiline label="Name" floatingLabel=true value="{{current_application.c2name}}" error="Portal should have a name"></paper-input> 
	<paper-input id="appl-c2mail" multiline label="Email" type="email" floatingLabel=true value="{{current_application.c2mail}}" error="Portal should have a name"></paper-input>
	<paper-input id="appl-c2phone" multiline label="Phone" type="tel" floatingLabel=true value="{{current_application.c2phone}}" error="Portal should have a name"></paper-input>
	<paper-shadow z="1"></paper-shadow>
</div>
<br><br>
<div style="padding: 15px 25px 25px 25px">
	<paper-input id="appl-c3name" multiline label="Name" floatingLabel=true value="{{current_application.c3name}}" error="Portal should have a name"></paper-input> 
	<paper-input id="appl-c3mail" multiline label="Email" type="email" floatingLabel=true value="{{current_application.c3mail}}" error="Portal should have a name"></paper-input>
	<paper-input id="appl-c3phone" multiline label="Phone" type="tel" floatingLabel=true value="{{current_application.c3phone}}" error="Portal should have a name"></paper-input>
	<paper-shadow z="1"></paper-shadow>
</div>
<br><br>
<div style="padding: 15px 25px 25px 25px">
	<paper-input id="appl-c4name" multiline label="Name" floatingLabel=true value="{{current_application.c4name}}" error="Portal should have a name"></paper-input> 
	<paper-input id="appl-c4mail" multiline label="Email" type="email" floatingLabel=true value="{{current_application.c4mail}}" error="Portal should have a name"></paper-input>
	<paper-input id="appl-c4phone" multiline label="Phone" type="tel" floatingLabel=true value="{{current_application.c4phone}}" error="Portal should have a name"></paper-input>
	<paper-shadow z="1"></paper-shadow>
</div>

<br><br>
    

</div>

<a class="btn btn-block btn-primary" ng-click="update()">Save</a>
