<div class="card" ng-repeat="category in categories">
  			<h3>{{category.name}}</h3>
			<h5>{{category.description}}</h5>

  			<div horizontal end-justified layout> 
  				<div>
  					<paper-button ng-click="delete_application(application)" >delete</paper-button>
    				<paper-button ng-click="open_edit(application)" class="colored">edit</paper-button>
    			</div>
    		</div>
</div>
<div horizontal center-justified layout>
<div>
  	<paper-button raised class="colored" ng-click="new()">new</paper-button>
</div>	