<div class="well" >
 
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Companies</h3>
			<div class="box-tools">
				<div class="input-group">
					<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
					<div class="input-group-btn">
						<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</div>
		</div><!-- /.box-header -->
		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>Company</th>
					<th>Portal</th>
					<th>Responded</th>
					<th>Interviewed</th>
					<th>To call</th>
					<th>To send data</th>
				</tr>
				<tr ng-repeat="application in applications">
					<td> {{ application.company.name }} </td>
					<td> {{ application.portal.name }} </td>
					<td> {{ application.responded }} </td>
					<td> {{ application.interviewed }} </td>
					<td> {{ application.to_call }} </td>
					<td> {{ application.to_send_other }} </td>
				</tr>

			</table>
		</div><!-- /.box-body -->
	</div><!-- /.box -->
 
    
	<a href="#/create" class="btn btn-block btn-primary">CREATE NEW</a>
    
</div>
