<div class="well">
    
    
    <div class="well" ng-show="in_customisation">
        <div class="row">
            <form name="joinForm" ng-submit="update_customisation()">
            <div class="pull-right col-md-2">
                <button  class="btn btn-default pull-right" ng-class="{'btn-primary':joinForm.$valid}" tabindex="100">Update</button>
                <a class="btn btn-default pull-right" ng-click="discard_customisation()">Discard</a>
            </div>
            <div class="pull-left col-md-8">
                
                <auto:fields fields="current_schema" data="current_element_data"></auto:fields>
            </div>
            </form>
			<!--elem is : {{ current_element | json }}-->
			<!--data is : {{ current_element_data | json }}-->
			
        </div>
    </div>
    
    <div class="alert alert-dismissable alert-success" ng-show="customisation_success">Component customization <b>saved</b>
        <button type="button" class="close" data-dismiss="alert"></button>
    </div>
    <div class="alert alert-dismissable alert-danger" ng-show="customisation_failure"><button type="button" class="close" data-dismiss="alert"></button>Component customization <b>discarded</b>
        
    </div>
    
    <div gridster="gridsterOpts" ng-show="matrix_loaded" ng-style="grid_style">
        <ul>
            <li gridster-item="item" ng-repeat="item in current_elements">
                <a href="" ng-click="open_customisation(item)">
                    <img ng-src="{{components_image_URI_db[components_image_prefix + item.name + '.100.jpg']}}">
                </a>
            </li>
        </ul>
    </div>
    
    
    <a class="btn btn-primary btn-block" ng-click="generate()">GENERATE</a>
    <div class="panel panel-primary" ng-show="code_generated">
        <div class="panel-heading">GET SOFTWARE
        </div>
        <div class="panel-body">
            <!--<a class="btn btn-info" ng-click="get_target('osc')">OSC Firmware</a>
            <a class="btn btn-info" ng-click="get_target('midi')">MIDI Firmware</a>
            <a class="btn btn-info" ng-click="get_target('pd')">Pure Data</a>
            <a class="btn btn-info" ng-click="get_target('audio')">Audio Plugin</a>-->
			
			
			<form name="joinForm" ng-submit="get_targets()">
				<auto:fields fields="target_schema_fw" data="target_data_fw"></auto:fields>
				<auto:fields fields="target_schema_sw" data="target_data_sw"></auto:fields>
				<auto:fields fields="target_schema_options" data="target_data_options"></auto:fields>
				<button  class="btn btn-info" tabindex="100" >Create</button>
			</form>
			
			<br>
			<a class="btn btn-info" ng-click="get_target('export')">Export</a>
			<a class="btn btn-info" ng-click="load()">Load</a>
			
        </div>
    </div>
	
</div>

