<div class="card">
        <h3>Without Template</h3>
        <div horizontal end-justified layout> 
          <div>
            <paper-button ng-click="new()" class="colored">use</paper-button>
          </div>
        </div>
</div>
<div class="card" ng-repeat="category in categories">
        <h3>{{category.name}}</h3>
      <h5>{{category.description}}</h5>

        <div horizontal end-justified layout> 
          <div>
            <paper-button ng-click="use(category)" class="colored">use</paper-button>
          </div>
        </div>
</div>
