	<div class="card" ng-repeat="piece in pieces">
    <div horizontal layout>
    		<div flex>
    			{{ piece.content }} 
  			</div>
        <div horizontal end-justified layout> 
          <div>
            <paper-button ng-click="delete(piece)" >delete</paper-button>
            <paper-button ng-click="edit(piece)" class="colored">edit</paper-button>
          </div>
        </div>
		</div>
	</div>
  
<div horizontal center-justified layout>
<div>
    <paper-button raised class="colored" ng-click="new()">new</paper-button>
</div>  