<body>
    <div class="container">
        <div class="well" ng-show="grid_ready">
            <div class="row" style="overflow: scroll; "  >
                <div class="col-md-2" ng-repeat="component in components">
                    
                        
                            <div class="thumbnail" style="display:inline-block;">
                                <img ng-src="{{components_image_URI_db[components_image_prefix + component.name + '.uniform.jpg']}}" alt="...">
                                    <div class="caption">
                                        <h5>{{component.name}}</h5>
                                        <p>...</p>
                                        <p><a ng-click="add_to_grid(component)" class="btn btn-primary" role="button">ADD</a>
                                            <a href="#" class="btn btn-default" role="button">INFO</a></p>
                                    </div>
                           </div>
                      
                    
                </div>
                
            </div>

        </div>
		<div class="well" ng-show="grid_ready" >
            
      
			<div gridster="gridsterOpts" ng-style="grid_style">
                <ul>
                    <li gridster-item="item" ng-repeat="item in gridsterItems">
                        <img ng-src="{{components_image_URI_db[components_image_prefix+item.name+'.' + side_px + '.jpg']}}">
                    </li>

					<!--data is : {{ gridsterItems | json }}-->
                </ul>
            </div>
            
            
            <a class="btn btn-primary btn-block" ng-click="send_items()">Create</a>
            <a></a>
        </div>
    </div>
</body>
