<div class="card" >

<p>You have <br></p>
<span style="font-size:40px;"> &nbsp;{{applications.length}}&nbsp;</span> applications 
<span style="font-size:40px;"> &nbsp;{{pieces.length}}&nbsp;</span> pieces 
<span style="font-size:40px;"> &nbsp;&nbsp;{{categories.length}}&nbsp;</span> templates
<span style="font-size:40px;"> &nbsp;&nbsp;{{documents.length}}&nbsp;</span> documents
</div> 

<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_application()">new application</paper-button>
	</div>	
</div>

<br>

<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_cover()">new cover from template</paper-button>
	</div>	
</div>

<br>

<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_cover_empty()">new empty cover</paper-button>
	</div>	
</div>