<div class="card" >

<p>You have <br></p>
<span style="font-size:40px;"> &nbsp;{{applications.length}}&nbsp;</span> applications 
<span style="font-size:40px;"> &nbsp;{{pieces.length}}&nbsp;</span> pieces 
<span style="font-size:40px;"> &nbsp;&nbsp;{{categories.length}}&nbsp;</span> templates
<span style="font-size:40px;"> &nbsp;&nbsp;{{documents.length}}&nbsp;</span> documents
</div> 


<div class="card">

		<h4>Ongoing applications </h4>
		<br>

		<div class="box-body table-responsive no-padding">
			<table class="table table-hover">
				<tr>
					<th>Position</th>
					<th><core-icon icon="question-answer" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="communication:call" style="width: 18px; height: 18px;"></core-icon></th>
					<th><core-icon icon="perm-identity" style="width: 18px; height: 18px;"></core-icon></th>
					<th>Next</th>

				</tr>
				<tr ng-repeat="application in open_applications" >
					<td ng-click="open_detail(application)"> 
						<span style="font-size: 12px;"><i>{{application.position}}</i></span><br>   
						<span style="font-size: 11px;">{{application.company}}</span>
						<span style="font-size: 9px; color: grey; ">&nbsp;&nbsp;via</span> 
						<span style="font-size: 9px; color: grey; ">{{ application.portal }} </span>
					</td>
					<td ng-click="written(application)" > <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.written }}" ></core-icon></td>
					<td ng-click="called(application)"> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.called }}"></core-icon></td>
					<td ng-click="interviewed(application)"> <core-icon icon="check" style="width: 24px; height: 24px; color: green;" ng-show="{{ application.interviewed }}"></core-icon></td>
					<td ng-click="open_detail(application)"> {{ application.next }} </td>
				</tr>

			</table>
		</div><!-- /.box-body -->
    <paper-shadow z="1"></paper-shadow>
</div>


<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_application()">new application</paper-button>
	</div>	
</div>

<br>

<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_cover()">new cover from template</paper-button>
	</div>	
</div>

<br>

<div horizontal center-justified layout>
	<div>
  		<paper-button raised class="colored" ng-click="new_cover_empty()">new empty cover</paper-button>
	</div>	
</div>