<div ng-repeat="application in applications" >

	<div class="card" style="width: 600px; margin: 10px 10px 10px 10px;">
		<div class="card-section">

			<div class="row">
				<div class="small-2 columns"><b>{{ application.salary }}€</b></div>
				<div class="small-8 columns"></div>
				<div class="small-2 columns"><b>{{ application.contract }}</b></div>
			</div>


			<span style="font-size: 22px;" >
				<i ng-hide="{{application.position_link.length}}>0">{{application.position}}</i>
				<i ng-show="{{application.position_link.length}}>0"><a href="{{application.position_link}}">{{application.position}}</a></i>
			</span><br>     
			<span style="font-size: 12px;color: grey; ">&nbsp;@&nbsp;</span>
			<span style="font-size: 22px;" ng-hide="{{application.company_link.length}}>0">{{application.company}}</span>
			<span style="font-size: 22px;" ng-show="{{application.company_link.length}}>0">
				<a href="{{application.company_link}}">{{application.company}}</a>
			</span>
			<span style="font-size: 12px; color: grey; ">&nbsp;&nbsp;via</span> 
			<span style="font-size: 14px; color: grey; " ng-hide="{{application.portal_link.length}}>0">{{ application.portal }} </span>
			<span style="font-size: 14px; color: grey; " ng-show="{{application.portal_link.length}}>0">
				<a href="{{application.portal_link}}">{{ application.portal }} </a>
			</span>
			<br><br>


			<input type="checkbox" ng-checked="{{application.written}}"></input>
			&nbsp;&nbsp;&nbsp;<i class="step fi-check size-12"></i>&nbsp;&nbsp;Written<br><br>
			<input type="checkbox" ng-checked="{{application.called}}"></input>
			&nbsp;&nbsp;&nbsp;<i class="step fi-check size-12"></i>&nbsp;&nbsp;Called<br><br>
			<input type="checkbox" ng-checked="{{application.interviewed}}"></input>
			&nbsp;&nbsp;&nbsp;<i class="step fi-check size-12"></i>&nbsp;&nbsp;Interviewed <br><br>
			<input type="checkbox" ng-checked="{{application.followup}}"></input>
			&nbsp;&nbsp;&nbsp;<i class="step fi-check size-12"></i>&nbsp;&nbsp;Followup<br><br>

			<div ng-show="{{application.next.length > 0}}">
				<b>Next</b><br>
				<span style="font-size: 12px;">{{application.next}}</span>
				<br><br>
			</div>

			<div ng-show="{{application.notes.length > 0}}">
				<b>Notes</b><br>
				<span style="font-size: 12px;">{{application.notes}}</span>
				<br><br><br>
			</div>

			<div ng-show="{{application.c1name.length + application.c1mail.length + application.c1phone.length > 0}}" >
				<i class="step fi-torso size-12"></i>&nbsp;&nbsp;&nbsp;
				<span style="font-size: 12px;">{{application.c1name}}</span><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="mailto:{{application.c1mail}}" style="font-size: 12px;">{{application.c1mail}}</a><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="tel:{{application.c1phone}}" style="font-size: 12px;">{{application.c1phone}}</a>
			</div>
			<br>
			<div ng-show="{{application.c2name.length + application.c2mail.length + application.c2phone.length > 0}}" >
				<i class="step fi-torso size-12"></i>&nbsp;&nbsp;&nbsp;
				<span style="font-size: 12px;">{{application.c2name}}</span><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="mailto:{{application.c2mail}}" style="font-size: 12px;">{{application.c2mail}}</a><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="tel:{{application.c2phone}}" style="font-size: 12px;">{{application.c2phone}}</a>
			</div>
			<br>
			<div ng-show="{{application.c3name.length + application.c3mail.length + application.c3phone.length > 0}}" >
				<i class="step fi-torso size-12"></i>&nbsp;&nbsp;&nbsp;
				<span style="font-size: 12px;">{{application.c3name}}</span><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="mailto:{{application.c3mail}}" style="font-size: 12px;">{{application.c3mail}}</a><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="tel:{{application.c3phone}}" style="font-size: 12px;">{{application.c3phone}}</a>
			</div>
			<br>
			<div ng-show="{{application.address1.length + application.address2.length > 0}}" >
				<i class="step fi-marker size-12"></i>&nbsp;&nbsp;&nbsp;
				<span style="font-size: 12px;" ng-show="{{application.address1.length>0}}">{{application.address1}}</span>
				<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span style="font-size: 12px;" ng-show="{{application.address2.length>0}}">{{application.address2}}</span>
				<br><br>
			</div>

<!-- 
  <div ng-show="{{application.latitude.length>0}}">
    <google-map style="display: block;height: 240px;width: 240px;" fitToMarkers >
      <google-map-marker latitude="{{application.latitude}}" longitude="{{application.longitude}}"></google-map-marker>
    </google-map>
    <br><br>
</div> -->

			<div horizontal end-justified layout>  
				<a ng-click="delete_application(application)" class="button">delete</a>
				<a ng-click="open_edit(application)" class="colored button">edit</a>
			</div>

		</div>
	</div>
</div>