<div class="card" style="width: 600px; margin: 10px 10px 10px 10px;">
	<div class="card-section">
		<div class="row">
			<div class="small-10 columns">Empty Template</div>
			<div class="small-2 columns">
				<a ng-click="new()" class="button">use</a>
			</div>
		</div>
	</div>
</div>

<div class="card" style="width: 600px; margin: 10px 10px 10px 10px;" ng-repeat="category in categories">
	<div class="card-section">
		<div class="row">
			<div class="small-10 columns">			
				<h5>{{category.name}}</h5>
				<h6>{{category.description}}</h6>
			</div>
			<div class="small-2 columns">
				<a ng-click="use(category)" class="button">use</a>
			</div>
		</div>
	</div>
</div>