<div class="card" style="width: 600px; margin: 10px 10px 10px 10px;">
	<div class="card-section">
		<h4>Tags</h4>
		<span ng-repeat="tag in tags">
			<input type="checkbox" value="Bike" ng-model="activeTags[tag]">&nbsp;&nbsp;{{tag}}<br>
		</span>
	</div>
</div>

<div ng-repeat="piece in pieces">
	<div class="card" ng-show="isActive(piece)" style="width: 600px; margin: 10px 10px 10px 10px;">
		<div class="card-section">
			<div class="row">
				<div class="small-10 large-10 columns">
					{{ piece.content }}
				</div>
				<div class="small-2 large-2 columns">
					<i class="step fi-x size-12" ng-click="delete(piece)"></i>
					<i class="step fi-pencil size-12" ng-click="edit(piece)"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="margin: 10px 10px 10px 10px;">
	<a ng-click="new()" class="button">add</a>
</div>
