
<div class="card" style="width: 600px; margin: 10px 10px 10px 10px;">
	<div class="card-section">
		<p>You have <br></p>
		<span style="font-size:40px;"> &nbsp;{{applications.length}}&nbsp;</span> applications 
		<span style="font-size:40px;"> &nbsp;{{pieces.length}}&nbsp;</span> pieces 
		<span style="font-size:40px;"> &nbsp;&nbsp;{{categories.length}}&nbsp;</span> templates
		<span style="font-size:40px;"> &nbsp;&nbsp;{{documents.length}}&nbsp;</span> documents
	</div>
</div>


<div class="card" style="width: 800px; margin: 10px 10px 10px 10px;">
	<div class="card-section">

		<p>You have <br></p>

		<table>
			<thead>
				<tr>
					<th>Position</th>
					<th><i class="step fi-address-book size-12"></i></th>
					<th><i class="step fi-telephone size-12"></i></core-icon></th>
					<th><i class="step fi-torso size-12"></i></th>
					<th>Next</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="application in open_applications" >
					<td ng-click="open_detail(application)"> 
						<span style="font-size: 12px;"><i>{{application.position}}</i></span><br>   
						<span style="font-size: 11px;">{{application.company}}</span>
						<span style="font-size: 9px; color: grey; ">&nbsp;&nbsp;via</span> 
						<span style="font-size: 9px; color: grey; ">{{ application.portal }} </span>
					</td>
					<td ng-click="written(application)">
						<i class="step fi-check size-12" ng-show="{{ application.written }}"></i>
					</td>
					<td ng-click="called(application)"> 
						<i class="step fi-check size-12" ng-show="{{ application.called }}"></i>
					</td>
					<td ng-click="interviewed(application)"> 
						<i class="step fi-check size-12" ng-show="{{ application.interviewed }}"></i>	
					</td>
					<td ng-click="open_detail(application)"> {{ application.next }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div style="margin: 10px 10px 10px 10px;">
	<a ng-click="new_application()" class="button">new application</a>
	<a ng-click="new_cover()" class="button">new cover from template</a>
	<a ng-click="new_cover_empty()" class="button">new empty cover</a>
</div>