<!DOCTYPE html>
<html ng-app="niomApp" style="overflow-y:scroll;" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link href='/static/css/admin.css'     rel="stylesheet" type="text/css" />
        <title>Log In</title>
    </head>
    <body >
    <div id="login-form">
            
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div id="login-form">

        <h3>Login</h3>

        <fieldset>

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <input type="text" id="id_username" name="username" placeholder="username"> <!-- JS because of IE support; better: placeholder="Email" -->

                <input type="password" id="id_password" required value="Password" name="password" > <!-- JS because of IE support; better: placeholder="Password" -->

                <input type="submit" value="Login">

                <input type="hidden" name="next" value="{{ next }}" />

                <footer class="clearfix">

                    <p><span class="info">?</span><a href="#">try user:guest pass:guest</a></p>

                </footer>

            </form>

        </fieldset>

    </div> <!-- end login-form -->
    </body>
</html>