<!DOCTYPE html>

<html ng-app="niomApp" class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Yard | Dashboard </title>
        <link rel="stylesheet" href="static/yard/foundation-6.3.0/css/foundation.css">
        <link rel="stylesheet" href="static/yard/foundation-icons/foundation-icons.css">
    <body>


    


<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Site Title</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">One</a>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <li><a href="#pieces">pieces</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-view></div>

<!--         <core-scaffold id="mainscaffold">
            <core-header-panel navigation flex>
                <paper-toolbar id="navheader">
                    <span>
                    {{ username |capfirst}}
                    </span>
                </paper-toolbar>
                <core-menu>

                    {% if tmp %}
                    <core-submenu icon="work" label="Applications">
                        <paper-item icon="list" label="List">
                            <a href="#applications"> </a>
                        </paper-item>
                       <paper-item icon="content-copy" label="Cards">
                            <a href="#applications/cards"> </a>
                        </paper-item>
                        <paper-item icon="add" label="New">
                            <a href="#applications/new"> </a>
                        </paper-item>
                    </core-submenu>
                    {% endif %}

                    <core-submenu icon="extension" label="Blocks">
                        <paper-item icon="list" label="List">
                            <a href="#pieces"> </a>
                        </paper-item>
                        <paper-item icon="add" label="New">
                            <a href="#pieces/new"> </a>
                        </paper-item>
                    </core-submenu>

                    <core-submenu icon="image:blur-linear" label="Templates">
                        <paper-item icon="list" label="List">
                            <a href="#categories"> </a>
                        </paper-item>
                        <paper-item icon="add" label="New">
                            <a href="#categories/new"> </a>
                        </paper-item>
                    </core-submenu>


                    {% if tmp %}
                    <core-submenu icon="drive-document" label="Covers">
                    {% else %}
                    <core-submenu icon="drive-document" label="Documents">
                    {% endif %}
                        <paper-item icon="list" label="List">
                            <a href="#documents"> </a>
                        </paper-item>
                        <paper-item icon="add" label="New">
                            <a href="#documents/new"> </a>
                        </paper-item>
                    </core-submenu>

                    <br>
                    <core-item icon="exit-to-app" label="Logout">
                            <a href="accounts/logout"></a>
                    </core-item>

                </core-menu>
            </core-header-panel>
            <span tool>
            Yard
            </span>
            <div class="content" ng-view>
            </div>
        </core-scaffold> -->

        <script src="static/yard/foundation-6.3.0/js/vendor/jquery.js"></script>
        <script src="static/yard/foundation-6.3.0/js/vendor/what-input.js"></script>
        <script src="static/yard/foundation-6.3.0/js/vendor/foundation.js"></script>

        <script src="static/yard/bower_components/angular/angular.min.js"></script>
        <script src="static/yard/bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="static/yard/bower_components/angular-route/angular-route.min.js"></script>
        <script src="static/yard/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src='static/yard/js/app.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/utils.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/applications.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/skills.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/pieces.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/categories.js' type="text/javascript"></script>
        <script src='static/yard/js/controllers/documents.js' type="text/javascript"></script>
    </body>
</html>