<!doctype html>

{% load staticfiles %}


<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link href={% static 'css/app.css' %} rel="stylesheet" type="text/css" />
  <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet" type="text/css" />
  <script src={% static 'js/angular.min.js' %} type="text/javascript"></script>
  <script type="text/javascript" >

	  var phonecatApp = angular.module('phonecatApp', []);

	  phonecatApp.controller('PhoneListCtrl', function($scope, $http) {
		

		$scope.orderProp = 'age';
		$scope.phones = [{'name':'Pippo', 'website':'www.ciao.com' }];
		//$http.get('/companies/').success(function(data) {
		//  $scope.phones = data;
			
		//	alert("Got " + $scope.phones );
		//});

	  });



  </script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
		<p>Age is {{orderProp}}</p>

      </div>
      <div class="span10">
        <!--Body content-->


        <ul class="phones">
          <li ng-repeat="phone in phones">
            {{phone.name}}
          </li>
        </ul>

      </div>
    </div>
  </div>

</body>
</html>
